:host {
  --ods-button-width: max-content;
  --ods-button-height:  var(--ods-size-xxl);
  --ods-button-border: none;
  --ods-button-border-style: solid;
  --ods-button-border-width: var(--ods-border-stroke-xxs);
  --ods-button-border-color: var(--ods-color-primary-base);
  --ods-button-border-radius: var(--ods-radii-xs);
  --ods-button-bg-color: var(--ods-color-primary-base);
  --ods-button-text-color: var(--ods-color-primary-100);
  --ods-button-font-family: 'system-ui';
  --ods-button-font-size: var(--ods-font-size-md);
  --ods-button-font-weight: var(--ods-font-weight-bold);
  --ods-button-padding-x: var(--ods-spacing-lg);
  --ods-button-padding-y: var(--ods-spacing-xs);
  --ods-button-cursor: pointer;
  --ods-button-transition: all .4s ease;
  --ods-button-shadow: unset;
  --ods-button-shadow-offset-x: 0;
  --ods-button-shadow-offset-y: var(--ods-size-xxxs);
  --ods-button-shadow-blur-radius: var(--ods-size-xxxs);
  --ods-button-shadow-spread-radius: none;
  --ods-button-shadow-color: rgba(0, 0, 0, 0.16);
}

:host button {
  width: var(--ods-button-width);
  height: var(--ods-button-height);
  background: var(--ods-button-bg-color);
  padding: var(--ods-button-padding-y) var(--ods-button-padding-x);
  border-radius: var(--ods-button-border-radius);
  border: var(--ods-button-border);
  color: var(--ods-button-text-color);
  font-family: var(--ods-button-font-family);
  font-size: var(--ods-button-font-size);
  font-weight: var(--ods-button-font-weight);
  cursor: var(--ods-button-cursor);
  transition: var(--ods-button-transition);
  box-shadow: var(--ods-button-shadow);
}

:host button:disabled {
  opacity: var(--ods-opacity-level-medium);
  --ods-button-cursor: not-allowed;
}

/* Color */
:host([state="danger"]) {
  --ods-button-bg-color: var(--ods-color-danger-base);
  --ods-button-text-color: var(--ods-color-danger-100);
}
:host([state="warning"]) {
  --ods-button-bg-color: var(--ods-color-warning-base);
  --ods-button-text-color: var(--ods-color-warning-10);
}
:host([state="success"]) {
  --ods-button-bg-color: var(--ods-color-success-base);
  --ods-button-text-color: var(--ods-color-success-10);
}

/* Hover */
:host button:not(:disabled):not(:active):hover {
  --ods-button-bg-color: var(--ods-color-primary-60);
  --ods-button-shadow: var(--ods-button-shadow-offset-x) var(--ods-button-shadow-offset-y) var(--ods-button-shadow-blur-radius) var(--ods-button-shadow-color);
}
:host([state="danger"]) button:not(:disabled):not(:active):hover {
  --ods-button-bg-color: var(--ods-color-danger-60);
}
:host([state="warning"]) button:not(:disabled):not(:active):hover {
  --ods-button-bg-color: var(--ods-color-warning-60);
}
:host([state="success"]) button:not(:disabled):not(:active):hover {
  --ods-button-bg-color: var(--ods-color-success-60);
}

/* Pressed */
:host button:not(:disabled):active {
  --ods-button-bg-color: var(--ods-color-primary-30);
  --ods-button-shadow: inset var(--ods-button-shadow-offset-x) var(--ods-button-shadow-offset-y) var(--ods-button-shadow-blur-radius) var(--ods-button-shadow-color);
}
:host([state="danger"]) button:not(:disabled):active {
  --ods-button-bg-color: var(--ods-color-danger-30);
}
:host([state="warning"]) button:not(:disabled):active {
  --ods-button-bg-color: var(--ods-color-warning-30);
  --ods-button-text-color: var(--ods-color-warning-100);
}
:host([state="success"]) button:not(:disabled):active {
  --ods-button-bg-color: var(--ods-color-success-30);
  --ods-button-text-color: var(--ods-color-success-100);
}


/* Outlined */
:host([outlined]) {
  --ods-button-bg-color: white;
  --ods-button-text-color: var(--ods-color-primary-base);
  --ods-button-border: var(--ods-button-border-style) var(--ods-button-border-width) var(--ods-button-border-color);
}
:host([outlined][state="danger"]) {
  --ods-button-bg-color: white;
  --ods-button-text-color: var(--ods-color-danger-base);
  --ods-button-border-color: var(--ods-color-danger-base);
}
:host([outlined][state="warning"])  {
  --ods-button-bg-color: white;
  --ods-button-text-color: var(--ods-color-warning-30);
  --ods-button-border-color: var(--ods-color-warning-base);
}
:host([outlined][state="success"]) {
  --ods-button-bg-color: white;
  --ods-button-text-color: var(--ods-color-success-30);
  --ods-button-border-color: var(--ods-color-success-base);
}

/* Outlined:hover */
:host([outlined]) button:not(:disabled):not(:active):hover {
  --ods-button-bg-color: white;
  --ods-button-text-color: var(--ods-color-primary-70);
  --ods-button-border: solid var(--ods-border-stroke-xxs) var(--ods-color-primary-60);
  filter: drop-shadow(var(--ods-button-shadow-offset-x) var(--ods-button-shadow-offset-y) var(--ods-button-shadow-blur-radius) var(--ods-button-shadow-color));
}
:host([outlined][state="danger"]) button:not(:disabled):not(:active):hover {
  --ods-button-text-color: var(--ods-color-danger-60);
  --ods-button-border: solid var(--ods-border-stroke-xxs) var(--ods-color-danger-60);
}
:host([outlined][state="warning"]) button:not(:disabled):not(:active):hover  {
  --ods-button-text-color: var(--ods-color-warning-60);
  --ods-button-border: solid var(--ods-border-stroke-xxs) var(--ods-color-warning-60);
}
:host([outlined][state="success"]) button:not(:disabled):not(:active):hover  {
  --ods-button-text-color: var(--ods-color-success-60);
  --ods-button-border: solid var(--ods-border-stroke-xxs) var(--ods-color-success-60);
}

/* Outlined:active */
:host([outlined]) button:not(:disabled):active {
  --ods-button-bg-color: white;
  --ods-button-border: solid var(--ods-border-stroke-xxs) var(--ods-color-primary-30);
  --ods-button-text-color: var(--ods-color-primary-30);
}
:host([outlined][state="danger"]) button:not(:disabled):active {
  --ods-button-border: solid var(--ods-border-stroke-xxs) var(--ods-color-danger-30);
  --ods-button-text-color: var(--ods-color-danger-30);
}
:host([outlined][state="warning"]) button:not(:disabled):active {
  --ods-button-border: solid var(--ods-border-stroke-xxs) var(--ods-color-warning-30);
  --ods-button-text-color: var(--ods-color-warning-30);
}
:host([outlined][state="success"]) button:not(:disabled):active {
  --ods-button-border: solid var(--ods-border-stroke-xxs) var(--ods-color-success-30);
  --ods-button-text-color: var(--ods-color-success-30);
}

/* Size */
:host([size="medium"]) {
  --ods-button-padding-x: var(--ods-spacing-md);
  --ods-button-padding-y: var(--ods-spacing-xxs);
  --ods-button-height:  var(--ods-size-xl);
  --ods-button-font-size: var(--ods-font-size-sm);
}
:host([size="small"]) {
  --ods-button-padding-x: var(--ods-spacing-md);
  --ods-button-padding-y: var(--ods-spacing-xxs);
  --ods-button-height:  var(--ods-size-lg);
  --ods-button-font-size: var(--ods-font-size-tiny);
}
:host([fully]) {
  --ods-button-width: 100%;
}

